<form class="w-full" [formGroup]="form" (ngSubmit)="onSubmit()">
    <section class="mt-3 flex w-full flex-col overflow-hidden rounded-2xl lg:col-span-4 md:col-span-6 ">
        <section class="min-h-[20px] pb-2 ml-4">
            <p class="font-bold">Servidor</p>
          </section>
        <section    class="flex flex-row w-full justify-center items-center border-[#DEDEDE] border-[2px] rounded-full py-2 px-5 gap-4 bg-MAIN_WHITE data-[disabled]:opacity-50">
 
 

            <p-autoComplete
                formControlName="people_id"
                [suggestions]="filteredPeople"
                (completeMethod)="filterPeople($event)"
                [optionLabel]="getFullName"
                optionValue="id"
                [forceSelection]="true"
                [minLength]="3"
                [virtualScroll]="true"
                [itemSize]="30"
                [showClear]="true"
                appendTo="body"
                class="w-full placeholder:text-GRAY_2 placeholder:text-[17px] text-[18px]" 
                styleClass="w-full" 
                placeholder="Buscar persona">

                <ng-template let-person pTemplate="item">
                    <div class="flex flex-col">
                      <span class="font-semibold">{{ person.names }} {{ person.surname }}</span>
                      <small class="text-gray-500">{{ person.identity }} / {{ person.phone }}</small>
                    </div>
                </ng-template>

            </p-autoComplete>


        </section>  
    </section>

    <section class="mt-4 ml-2 flex flex-row flex-nowrap justify-between items-center">
        <button
          type="button"
          (click)="closeModal()"
          class="cursor-pointer mt-3 m-1 disabled:bg-GRAY_3 w-full bg-SECONDARY_COLOR h-[55px] flex items-center justify-center text-[17px] text-white font-bold rounded-full"
        >
          Cancelar
        </button>
    
        <button
          type="submit"
          [disabled]="form.invalid"
          class="cursor-pointer mt-3 m-1 disabled:bg-GRAY_3 w-full bg-PRIMARY_COLOR h-[55px] flex items-center justify-center text-[17px] text-white font-bold rounded-full"
        >
          Agregar
        </button>
    </section>



</form>