<div class="p-4">
    <app-section-header
    titleheader="Gestión de Redes"
    description="En esta sección, podrás gestionar las redes y las casas de Avivamiento asociadas. Tendrás la capacidad de crear, editar y visualizar tanto las redes como las casas de Avivamiento. Además, contarás con herramientas intuitivas para filtrar y buscar redes o casas de Avivamiento de manera eficiente, facilitando el seguimiento y la administración de cada uno de ellos en el sistema."  
    image="images/comunidad.png"
    ></app-section-header>
</div>

<section class="mx-auto max-w-(--breakpoint-2x2) p-4 ">
   <section class="grid grid-cols-1 gap-12">
        <section class="space-y-12">
            <p-card styleClass="animate__animated animate__fadeIn">
                <app-networks-manage-table />
            </p-card>
        </section>
   </section>
</section>