<div class="p-4">
  <app-section-header
    titleheader="Listado de alumnos"
    description="En esta sección podrás gestionar el listado de personas que están cursando la Escuela de la Visión. Podrás ver e imprimir listados, registrar asistencias, consultar días faltantes y buscar personas por distintos filtros, facilitando así el seguimiento y la organización del ciclo."
    image="images/comunidad.png"
  ></app-section-header>
</div>



<section class="mx-auto max-w-(--breakpoint-2x2) p-4 ">
    <section class="grid grid-cols-1 gap-12">
         <section class="space-y-12">
             <p-card styleClass="animate__animated animate__fadeIn">
                <app-list-student-table />
             </p-card>
         </section>
    </section>
 </section>
