<div class="p-4">
    <app-section-header
    titleheader="Gestionar retiro de sanidad interior"
    description="En esta sección podrás gestionar y dar seguimiento a los retiros de sanidad interior, el segundo paso en el proceso de afirmación dentro de la iglesia. Aquí se registra a las personas que ya pasaron su proceso de fiesta de bienvenida, brindando un ambiente cálido y acogedor. Podrás visualizar participantes, registrar asistencias y organizar los eventos relacionados, facilitando así una experiencia significativa desde el inicio de su camino espiritual."  
    image="--"
    />
</div>


<section class="mx-auto max-w-(--breakpoint-2x2) p-4 ">
    <section class="grid grid-cols-1 gap-12">
         <section class="space-y-12">
             <p-card styleClass="animate__animated animate__fadeIn">
                <app-interior-health-table />
             </p-card>
         </section>
    </section>
 </section>

