<section class="min-h-[20px] pb-2 ml-4">
  <p class="font-bold">{{ label }}</p>
</section>

<p-dropdown
  styleClass="w-full py-3 px-5 "
  [placeholder]="placeholder"
  appendTo="body"
  [inputId]="inputId"
  [id]="inputId"
  [ngClass]="{ 'ng-error ng-dirty': isRequired }"
  [options]="civilStatus"
  optionLabel="estado_civil"
  optionValue="estado_civil"
  [filter]="true"
  [formControl]="control"
></p-dropdown>
@if (isRequired) {
<small class="text-red-500 animate__animated animate__fadeIn"
  >* Este campo es obligatorio.</small
>
}

 