<div class="p-4">
    <app-section-header
    titleheader="Profesión de Fe"
    description="En esta sección, podrás gestionar los registros de Profesión de Fe, el primer paso que realizan las personas que han decidido aceptar a Jesús en la iglesia. Tendrás la capacidad de crear, editar y visualizar cada registro, asegurando un seguimiento adecuado desde el momento de su conversión. Además, contarás con herramientas intuitivas para buscar, filtrar y organizar la información, facilitando el acompañamiento espiritual y administrativo de cada nuevo creyente en su camino de fe."  
    image="images/comunidad.png"
    ></app-section-header>
</div>

<section class="mx-auto max-w-(--breakpoint-2x2) p-4 ">
   <section class="grid grid-cols-1 gap-12">
        <section class="space-y-12">
            <p-card styleClass="animate__animated animate__fadeIn">
               <app-profession-manage-table />
            </p-card>
        </section>
   </section>
</section>