<main class="min-h-screen grid grid-cols-1 md:grid-cols-2">
    <section class="hidden md:flex items-center justify-center bg-cover bg-center w-full">
        <div class="bg_block_div w-full">
            <img _ngcontent-fbs-c244="" src="logos/sngn.png" alt="senprende-logo">
        </div>
    </section>

    <section class="flex items-center justify-center p-6">
        <div class="w-full max-w-md">
            <div class="flex flex-col items-center gap-2 mb-6">
                <img src="logos/logo mitra.png" alt="sis-logo" class="w-32 h-32" />
                <h2 class="text-xl font-semibold">Bienvenido a KingVision</h2>
            </div>

            <div class="flex items-center justify-center gap-2 text-cyan-600 text-sm mb-4">
                <span class="flex-1 border-t border-cyan-300"></span>
                <strong>Inicia Sesion para continuar al sistema</strong>
                <span class="flex-1 border-t border-cyan-300"></span>
            </div>

            <app-login />

        </div>
    </section>
</main>