<div class="p-4">
  <app-section-header
    titleheader="Gestión de miembros"
    description="En esta sección, podrás visualizar todos los miembros registrados en nuestro sistema. Tendrás la opción de filtrar y buscar miembros de manera precisa utilizando las herramientas de búsqueda y filtrado disponibles, además de realizar cualquier operación relacionada con la gestión de los miembros."
    image="images/comunidad.png"
  ></app-section-header>
</div>


<p-card styleClass="animate__animated animate__fadeIn">
  <app-member-manage-table />
</p-card>