<form class="w-full" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="min-w-0 lg:min-w-[538px]"> 
      <section class="mt-3 flex w-full flex-col overflow-hidden rounded-2xl lg:col-span-4 md:col-span-6 ">
          <section class="min-h-[20px] pb-2 ml-4">
              <p class="font-bold">Casa de reino</p>
            </section>
          <section  class="flex flex-row w-full justify-center items-center border-[#DEDEDE] border-[2px] rounded-full py-2 px-5 gap-4 bg-MAIN_WHITE data-[disabled]:opacity-50">
              <input  pInputText formControlName="name" placeholder="Ej: Mezapa" autocomplete="off" class="w-full placeholder:text-GRAY_2 placeholder:text-[17px] text-[18px]" type="text" name="nombres" id="nombres">
          </section>
      </section>

      <section class="mt-4 flex w-full flex-col overflow-hidden rounded-2xl lg:col-span-12 md:col-span-6 ">
        <p-editor
        formControlName="address"
        [style]="{ height: '192px' }"
        placeholder="Dirección completa"
        
        ><ng-template pTemplate="header">
          <span class="ql-formats">
            <button type="button" class="ql-bold" aria-label="Bold"></button>
            <button
              type="button"
              class="ql-italic"
              aria-label="Italic"
            ></button>
            <button
              type="button"
              class="ql-underline"
              aria-label="Underline"
            ></button>
            <button
              type="button"
              class="ql-strike"
              aria-label="strike"
            ></button>
            <button
              type="button"
              class="ql-blockquote"
              aria-label="blockquote"
            ></button>
          </span>
          <span class="ql-formats">
            <button
              class="ql-list"
              value="ordered"
              ngbPopover="Ordered list"
              triggers="mouseenter:mouseleave"
            ></button>
            <button
              class="ql-list"
              value="bullet"
              ngbPopover="Bulleted list"
              triggers="mouseenter:mouseleave"
            ></button>
          </span> </ng-template
      ></p-editor>
    </section>

    <section class="mt-4 ml-2 flex flex-row flex-nowrap justify-between items-center">
        <button
          type="button"
          (click)="closeModal()"
          class="cursor-pointer mt-3 m-1 disabled:bg-GRAY_3 w-full bg-SECONDARY_COLOR h-[55px] flex items-center justify-center text-[17px] text-white font-bold rounded-full"
        >
          Cancelar
        </button>
    
        <button
          type="submit"
          [disabled]="form.invalid"
          class="cursor-pointer mt-3 m-1 disabled:bg-GRAY_3 w-full bg-PRIMARY_COLOR h-[55px] flex items-center justify-center text-[17px] text-white font-bold rounded-full"
        >
          Actualizar
        </button>
    </section>


    </div>
</form>